# محیط مجازی
.venv/

# فایل‌های پایتون کامپایل‌شده
__pycache__/
*.py[cod]

# فایل‌های پایگاه داده
*.sqlite3

# فایل‌های موقتی سیستم‌عامل
.DS_Store
Thumbs.db

# تنظیمات PyCharm
.idea/

# فایل‌های محیطی
.env
